@model IEnumerable<HospitalManagement.Models.HospitalModel.RendezVous>

@{
    ViewData["Title"] = "Index";
}

<h1>Rendez-Vous</h1>

<p style ="display:flex;justify-content:space-between">
    <a asp-action="Create">Create New</a> 
    <a asp-action="SearchByDate">SearchByDate</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateRendezVous)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Motif)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medecin)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateRendezVous)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Motif)
            </td>
                <td>@($"{item.Patient?.Nom} {item.Patient?.Prenom}")</td>
                <td>@($"{item.Medecin?.Nom} {item.Medecin?.Prenom}")</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
